.back{
          border-radius: 5px;
    display: inline-block;
    margin: auto;
    width: 200px;
    padding: 6.5% 7%;
}

.card:hover{
background:#b5b5b540;
    transform: translateZ(5px);
box-shadow: 0 0 30px 5px GREY;
}


.card{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    background: white;
    
    border-radius: 10px;
}


.mob-img{
    height: 30%;
    width: 30%;
    margin: 5px auto;
}

.line{
    width: 70%;
    height: 2px;
    background: black;
    margin: auto;
}
.name{
    text-align: center;
    font-size: 150%;
    font-family: sans-serif;
    color: darkolivegreen;
    margin: 5px;
}

.p{
    min-height:126px;
    color: #2196f3;
    padding: 0 15px;
    text-align: justify;
}